ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(55, 55, 228);
  }
 
  li {
    float: left;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:rgb(155, 228, 161);
    color:black;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  h1.heading {
    text-align: center;
    text-shadow: 2px 2px rgb(14, 70, 123);
}

.imagediv{
    height: 100;
    width: 150;
    margin: 140;
    background-color: rgb(40, 104, 106);
  }

.form{
    text-align: center;
    height: 150;
    width: 150 ;
    background-color: beige;
}


div.footer{
text-align: center;
background-color: gray;
height: 200;

}
